<div class="titlee">
<h1>Log-in</h1>
</div>

<div class="box-form">
<form action="/auth/log-in" method="POST">

    <div class="card" style="width: 30rem;">
        <div class="card-header">
            <label for="username">Username</label>
            <input id="username" class="input-field" type="text" name='username' value="{{username}}"
                placeholder="Username" required>

        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <label for="password1" class="label">Password</label>
                <input id="password1" class="input-field" type="password" name='pwd1' placeholder="Password" required>
            </li>
        </ul>
    </div>
    <hr>

    <div class="submit-buttons">
    <input class="submit-btn btn btn-lg btn-warning edit" type="submit" value="LOG-IN">
    <br><br>
    <a class="submit-btn btn btn-lg btn-warning edit" href="/">BACK</a>
    </div>

</form>

</div>

{{#if errorMessage}}
<div id="errorMessage">
    <p>{{errorMessage}}</p>
</div>
{{/if}}