<div class="titlee">
<h1>Sign up as a new user</h1>
</div>

<form action="/auth/sign-up" method="POST" enctype="multipart/form-data">

<div class="box-form">
    <div class="card" style="width: 30rem;">
        <div class="card-header">
            <label for="username">Username</label>
            <input id="username" class="input-field" type="text" name='username' value="{{username}}"
                placeholder="Choose a username" required>

        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <label class="label" for="email">E-mail</label>
                <input id="email" class="input-field" type="email" name='email' value="{{email}}" placeholder="email"
                    required>
            </li>

            <li class="list-group-item">
                <label for="password1" class="label">Password</label>
                <input id="password1" class="input-field" type="password" name='pwd1' placeholder="Choose a password"
                    required>
            </li>

            <li class="list-group-item">
                <label class="label" for="password2">Confirm password</label>
                <input id="password2" class="input-field" type="password" name='pwd2' placeholder="Confirm the password"
                    required>
            </li>

            <li class="list-group-item">
                <label for="formFile" class="form-label">Upload a profile picture</label>
                <input name="imgFile" class="form-control" type="file" id="formFile">
            </li>

            <li class="list-group-item">
                <label class="label" for="description">About you</label>
                <input id="description" class="input-field" type="text" name="description" placeholder="Tell us about you!">
            </li>

        </ul>
    </div>
</div>
    <div class="submit-buttons">
    <input class="submit-btn btn btn-lg btn-warning edit" type="submit" value="CREATE ENTRY">
    <br><br>
    <a class="submit-btn btn btn-lg btn-warning edit" href="/">BACK</a>
    </div>

</form>

<script src="/js/validations.js"></script>

{{#if errorMessage}}
<div id="errorMessage">
    <p>{{errorMessage}}</p>
</div>
{{/if}}