<p>Welcome Ironhacker!</p>

<a id="index-buttons" href="/sign-up">CREAR</a>
<a id="index-buttons" href="/log-in">LOGIN</a>
<a id="index-buttons" href="/profiles">PROFILES</a>

<figure class="main-map"></figure>

<div class="results"></div>

<div id="map"></div>


<script src="/js/APIHandler.js"></script>
<script src="/js/movies-near-me-map.js"></script>
{{!--
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgc8Bn1wqwy9v2Euv8FbgDu4B8cGuOz6w&libraries=places"></script>
--}}


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgc8Bn1wqwy9v2Euv8FbgDu4B8cGuOz6w&callback=initMap"></script>