body {
  background-color: rgb(60, 79, 116);
  font-family: 'Montserrat', sans-serif;
}

.navbar{
  background: linear-gradient(to right, #f7971e, #ffd200);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
}

.random-row{
  display: flex;
  flex-direction: row;
}

h1{
  color: white;
  text-align: center;
}

.signup {
  margin-left: 32%;
}

.logout {
  border: 0;
  background-color: transparent;
}



.main-page{
  display: flex;

}



.map-buttons{
  
  width: 33%;
  padding: 15px
}

.btn{
  margin-left: 5px;
  margin-right: 5px;
}

.google-btn{
  width:100%
}



.inactive{
  display: none;
}


.main-map{
  height: 300px;
  width: 100%;
}


#result-random{
 
  height: 400px;
}






#errorMessage {
  background-color: rgb(255, 202, 202);
  width: 400px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  padding: 5px;
  text-align: center;
  animation: showFromBottom 6s forwards;
}

#profileImg {
  width: 100%
}

@keyframes  showFromBottom {
  0% {
    bottom: -50px
  }

  10% {
    bottom: 10px;

  }

  90% {
    bottom: 10px;
  }

  100% {
    bottom: -50px
  }
}