<h1 id="page-header"></h1>

<div class="card mb-3 actor-card text-dark bg-warning" style="max-width: 1000px;">
    <div class="row g-0">

        <div class="col-md-8">
            <div class="card-body">
                <h5 id="actor-name" class="card-title">Card title</h5>
                <p class="card-text"><small id="birth-date" class="text-muted">Date of birth</small></p>
                <p id="death-date" class="card-text">Date of death</p>
                {{!-- I N S E R T S --}}
                </ul>
            </div>

            <p class="card-text"><small class="text-muted">IMDB ID:</small><small id="actor-id"
                    class="text-muted">{{actorId}}</small></p>
        </div>

        <div class="col-md-4">
            <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/action-movie-poster-template-design-0f5fff6262fdefb855e3a9a3f0fdd361_screen.jpg?ts=1636996054"
                class="img-fluid rounded-start" alt="...">
        </div>
    </div>
</div>

</div>


{{!--
<script src="/js/actor-detail.js"></script> --}}