<h1>{{title}}</h1>

<div class="card" style="width: 30rem;">

    <div class="card-header">
        <label for="username">Movie Poster</label>
        <p>{{}}</p>
    </div>

    <div class="card-header">
        <label for="username">Genre</label>
        <p>{{}}</p>
    </div>

    <div class="card-header">
        <label for="username">Plot</label>
        <p>{{}}</p>
    </div>

    <div class="card-header">
        <label for="username">Rating</label>
        <p>{{}}</p>
    </div>

    <h3>Cast</h3>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <label class="label" for="email">Name</label>
            <p>{{}}</p>
        </li>

        <li class="list-group-item">
            <label for="formFile" class="form-label">Birth Date</label>
            <img id="profileImg" src="{{}}">
        </li>

        <li class="list-group-item">
            <label class="label" for="description">Death Date</label><br>
            <p>{{}}</p>

        </li>

    </ul>
</div>