<h1>Title</h1>

<div class="card" style="width: 30rem;">

    <div class="card-header">
        <label id="movie-title">Movie Poster</label>
    </div>

    <div class="card-header">
        <label id="movie-genre">Genre</label>
    </div>

    <div class="card-header">
        <label id="movie-plot">Plot</label>
    </div>

    <div class="card-header">
        <label id="movie-rating">Rating</label>
    </div>

    <h3>Cast</h3>
    <ul id="movie-cast" class="list-group list-group-flush">
        <li class="list-group-item">
            <label id="actor-name">Name</label>
            <p>{{}}</p>
        </li>

        <li class="list-group-item">
            <label id="birth-date">Birth Date</label>
            <img id="profileImg" src="{{}}">
        </li>

        <li class="list-group-item">
            <label id="death-date">Death Date</label><br>
            <p>{{}}</p>

        </li>

    </ul>
</div>