<div class="card mb-3 movie-card text-dark bg-warning" style="max-width: 1000px; padding:15px;">
    <div class="row g-0">

        <div class="col-md-8">
            <div class="card-body">

                <h3 id="movie-title" class="card-title"></h3>

                <p class="card-text"><small id="movie-genre"></small></p>
                <p id="movie-plot" class="card-text"></p>

                <ul id="movie-stars" class="list-group list-group-flush">

                    {{!-- I N S E R T S --}}
                </ul>
                <br>
                <p id="movie-year" class="card-text"></p>
                <p class="card-text">IMDB Rating: <span id="movie-rating"></span></p>
                <p class="card-text"><small class="text-muted">IMDB ID:</small><small id="movie-id"
                        class="text-muted">{{movieId}}</small></p>
            </div>
        </div>

        <div class="col-md-4">
            <img id="movie-image" class="img-fluid rounded-start">
        </div>
    </div>
</div>


</div>



<script src="/js/movie-details.js"></script>
